# Assignment #1: The Donut Effect for Philadelphia ZIP Codes

In this assignment, we will practice our `pandas` skills and explore the ["Donut Effect"](https://www.gsb.stanford.edu/faculty-research/publications/donut-effect-how-covid-19-shapes-real-estate) within Philadelphia. The "Donut Effect" describes the following phenomenon: with more flexible working options and pandemic-driven density fears, people left urban dense cores and opted for more space in city suburbs, driving home and rental prices up in the suburbs relative to city centers.

We will be working with [Zillow data](https://www.zillow.com/research/data/) for the Zillow Home Value Index (ZHVI) for Philadelphia ZIP codes. The goal will be to calculate home price appreciation in Philadelphia, comparing those ZIP codes in Center City (the central business district) to those not in Center City.

## 1. Load the data

I've already downloaded the relevant data file and put in the `data/` folder. Let's load it using `pandas`.  

**Note:** Be sure to use a *relative* file path to make it easier to load your data when grading. See [this guide](https://musa-550-fall-2023.github.io/resource/file-paths.html) for more info.

In [15]:
import pandas as pd
zhvi = pd.read_csv("data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

In [16]:
zhvi.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,214937.787287,...,511217.809013,511954.135638,512382.575815,512816.507207,512487.417214,511561.213833,509731.456030,507492.037564,504842.296131,502726.316129
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,116810.635973,...,540520.822165,543510.737925,545285.820170,545849.930016,547812.364157,550152.453119,553512.223743,556393.389412,559017.438053,560869.557895
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,105455.318464,...,285966.965643,285165.783938,284424.451245,283803.723317,283169.657042,282323.980025,281349.604227,280532.332248,279516.033794,278559.759728
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,175466.156197,...,543312.845093,541859.728752,539178.066186,536665.543126,536533.040463,536184.672627,536070.638730,536466.721839,538555.289728,541336.157008
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,104429.883018,...,279339.617767,278729.086405,278383.504669,278136.381157,277726.832660,276853.057540,275794.766504,274885.587974,273866.188282,272937.627162

## 2. Trim the data to just Philadelphia

Select the subset of the dataframe for Philadelphia, PA.

In [17]:
philly_zhvi = zhvi[(zhvi["City"]== "Philadelphia") & (zhvi["State"] == "PA")]
philly_zhvi.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31
161,65787,167,19120,zip,PA,PA,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia County,52611.515124,...,172857.044603,172996.391320,173623.518232,174009.763259,174125.898185,173972.519044,174210.818208,174698.512217,174752.556279,174772.151262
219,65791,225,19124,zip,PA,PA,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia County,41618.482984,...,168454.740964,169469.348611,171073.979321,172265.459181,172982.870998,173368.809736,173888.951850,174627.429740,174859.194948,175456.333388
260,65779,266,19111,zip,PA,PA,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia County,80119.359187,...,289790.751882,290756.036004,291724.438092,292269.399767,292866.091611,293636.599017,294863.714216,296426.210933,297491.150591,298154.178003
320,65810,327,19143,zip,PA,PA,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia County,45582.543296,...,143032.606958,143640.587517,144663.980616,145659.948682,146395.577320,146454.600499,145400.022345,143597.085793,141845.199109,141169.892103
412,65816,421,19149,zip,PA,PA,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Philadelphia County,60213.430806,...,227314.884148,227437.039290,227636.471773,227683.070876,227646.653522,227607.887897,228186.466215,229549.964775,230662.393775,231575.220227

## 3. Melt the data into tidy format

Let's transform the data from wide to tidy using the `pd.melt()` function. Create a new column in your data called "ZHVI" that holds the ZHVI values.

In [18]:
philly_zhvi.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2000-01-31',
       ...
       '2024-10-31', '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28',
       '2025-03-31', '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31'],
      dtype='object', length=316)

In [19]:
def looks_like_a_date(column_name):

    return column_name.startswith("20")

In [20]:
list(
    filter(looks_like_a_date, philly_zhvi.columns)
)

['2000-01-31',
 '2000-02-29',
 '2000-03-31',
 '2000-04-30',
 '2000-05-31',
 '2000-06-30',
 '2000-07-31',
 '2000-08-31',
 '2000-09-30',
 '2000-10-31',
 '2000-11-30',
 '2000-12-31',
 '2001-01-31',
 '2001-02-28',
 '2001-03-31',
 '2001-04-30',
 '2001-05-31',
 '2001-06-30',
 '2001-07-31',
 '2001-08-31',
 '2001-09-30',
 '2001-10-31',
 '2001-11-30',
 '2001-12-31',
 '2002-01-31',
 '2002-02-28',
 '2002-03-31',
 '2002-04-30',
 '2002-05-31',
 '2002-06-30',
 '2002-07-31',
 '2002-08-31',
 '2002-09-30',
 '2002-10-31',
 '2002-11-30',
 '2002-12-31',
 '2003-01-31',
 '2003-02-28',
 '2003-03-31',
 '2003-04-30',
 '2003-05-31',
 '2003-06-30',
 '2003-07-31',
 '2003-08-31',
 '2003-09-30',
 '2003-10-31',
 '2003-11-30',
 '2003-12-31',
 '2004-01-31',
 '2004-02-29',
 '2004-03-31',
 '2004-04-30',
 '2004-05-31',
 '2004-06-30',
 '2004-07-31',
 '2004-08-31',
 '2004-09-30',
 '2004-10-31',
 '2004-11-30',
 '2004-12-31',
 '2005-01-31',
 '2005-02-28',
 '2005-03-31',
 '2005-04-30',
 '2005-05-31',
 '2005-06-30',
 '2005-07-31',
 '2005-08-31',
 '2005-09-30',
 '2005-10-31',
 '2005-11-30',
 '2005-12-31',
 '2006-01-31',
 '2006-02-28',
 '2006-03-31',
 '2006-04-30',
 '2006-05-31',
 '2006-06-30',
 '2006-07-31',
 '2006-08-31',
 '2006-09-30',
 '2006-10-31',
 '2006-11-30',
 '2006-12-31',
 '2007-01-31',
 '2007-02-28',
 '2007-03-31',
 '2007-04-30',
 '2007-05-31',
 '2007-06-30',
 '2007-07-31',
 '2007-08-31',
 '2007-09-30',
 '2007-10-31',
 '2007-11-30',
 '2007-12-31',
 '2008-01-31',
 '2008-02-29',
 '2008-03-31',
 '2008-04-30',
 '2008-05-31',
 '2008-06-30',
 '2008-07-31',
 '2008-08-31',
 '2008-09-30',
 '2008-10-31',
 '2008-11-30',
 '2008-12-31',
 '2009-01-31',
 '2009-02-28',
 '2009-03-31',
 '2009-04-30',
 '2009-05-31',
 '2009-06-30',
 '2009-07-31',
 '2009-08-31',
 '2009-09-30',
 '2009-10-31',
 '2009-11-30',
 '2009-12-31',
 '2010-01-31',
 '2010-02-28',
 '2010-03-31',
 '2010-04-30',
 '2010-05-31',
 '2010-06-30',
 '2010-07-31',
 '2010-08-31',
 '2010-09-30',
 '2010-10-31',
 '2010-11-30',
 '2010-12-31',
 '2011-01-31',
 '2011-02-28',
 '2011-03-31',
 '2011-04-30',
 '2011-05-31',
 '2011-06-30',
 '2011-07-31',
 '2011-08-31',
 '2011-09-30',
 '2011-10-31',
 '2011-11-30',
 '2011-12-31',
 '2012-01-31',
 '2012-02-29',
 '2012-03-31',
 '2012-04-30',
 '2012-05-31',
 '2012-06-30',
 '2012-07-31',
 '2012-08-31',
 '2012-09-30',
 '2012-10-31',
 '2012-11-30',
 '2012-12-31',
 '2013-01-31',
 '2013-02-28',
 '2013-03-31',
 '2013-04-30',
 '2013-05-31',
 '2013-06-30',
 '2013-07-31',
 '2013-08-31',
 '2013-09-30',
 '2013-10-31',
 '2013-11-30',
 '2013-12-31',
 '2014-01-31',
 '2014-02-28',
 '2014-03-31',
 '2014-04-30',
 '2014-05-31',
 '2014-06-30',
 '2014-07-31',
 '2014-08-31',
 '2014-09-30',
 '2014-10-31',
 '2014-11-30',
 '2014-12-31',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30',
 '2022-12-31',
 '2023-01-31',
 '2023-02-28',
 '2023-03-31',
 '2023-04-30',
 '2023-05-31',
 '2023-06-30',
 '2023-07-31',
 '2023-08-31',
 '2023-09-30',
 '2023-10-31',
 '2023-11-30',
 '2023-12-31',
 '2024-01-31',
 '2024-02-29',
 '2024-03-31',
 '2024-04-30',
 '2024-05-31',
 '2024-06-30',
 '2024-07-31',
 '2024-08-31',
 '2024-09-30',
 '2024-10-31',
 '2024-11-30',
 '2024-12-31',
 '2025-01-31',
 '2025-02-28',
 '2025-03-31',
 '2025-04-30',
 '2025-05-31',
 '2025-06-30',
 '2025-07-31']

In [21]:
ph_tidy = pd.melt(
    philly_zhvi,
    id_vars=["RegionName"],
    value_vars=list(filter(looks_like_a_date, philly_zhvi.columns)),
    var_name="Date",
    value_name="ZHVI",
)

In [22]:
ph_tidy.head()

   RegionName        Date          ZHVI
0       19120  2000-01-31  52611.515124
1       19124  2000-01-31  41618.482984
2       19111  2000-01-31  80119.359187
3       19143  2000-01-31  45582.543296
4       19149  2000-01-31  60213.430806

## 4. Split the data for ZIP codes in/outside Center City

To compare home appreciation in Center City vs. outside Center City, we'll need to split the data into two dataframes, one that holds the Center City ZIP codes and one that holds the data for the rest of the ZIP codes in Philadelphia.

To help with this process, I've included a list of ZIP codes that make up the "greater Center City" region of Philadelphia. Use this list to split the melted data into two dataframes.

In [23]:
greater_center_city_zip_codes = [
    19123,
    19102,
    19103,
    19106,
    19107,
    19109,
    19130,
    19146,
    19147,
]

In [24]:
#ZIP codes in center city
in_center_city = ph_tidy['RegionName'].isin(greater_center_city_zip_codes)
in_center_city_df = ph_tidy.loc[in_center_city]
in_center_city_df

       RegionName        Date           ZHVI
13          19146  2000-01-31   78849.612152
14          19147  2000-01-31  116981.634195
30          19130  2000-01-31  123507.109757
33          19103  2000-01-31  187116.686875
37          19123  2000-01-31  103124.195756
...           ...         ...            ...
14109       19103  2025-07-31  470963.436105
14113       19123  2025-07-31  456421.911391
14114       19107  2025-07-31  316681.520274
14115       19106  2025-07-31  404756.313726
14121       19102  2025-07-31  381588.145372

[2456 rows x 3 columns]

In [25]:
#ZIP codes out center city
out_center_city_df = ph_tidy.loc[~in_center_city].copy()
out_center_city_df

       RegionName        Date           ZHVI
0           19120  2000-01-31   52611.515124
1           19124  2000-01-31   41618.482984
2           19111  2000-01-31   80119.359187
3           19143  2000-01-31   45582.543296
4           19149  2000-01-31   60213.430806
...           ...         ...            ...
14116       19153  2025-07-31  217158.828605
14117       19129  2025-07-31  321324.987764
14118       19118  2025-07-31  847901.073730
14119       19137  2025-07-31  229941.686763
14120       19127  2025-07-31  350091.524201

[11666 rows x 3 columns]

## 5. Compare home value appreciation in Philadelpia

In this step, we'll calculate the average percent increase in ZHVI from March 2020 to March 2022 for ZIP codes in/out of Center City. We'll do this by:

- Writing a function (see the template below) that will calculate the percent increase in ZHVI from March 31, 2020 to March 31, 2022
- Group your data and apply this function to calculate the ZHVI percent change for each ZIP code in Philadelphia. Do this for both of your dataframes from the previous step.
- Calculate the average value across ZIP codes for both sets of ZIP codes and then compare

You should see much larger growth for ZIP codes outside of Center City...the Donut Effect!

In [26]:
def calculate_percent_increase(group_df):
    """
    Calculate the percent increase from 2020-03-31 to 2022-03-31.
    
    Note that `group_df` is the DataFrame for each group.
    """
    
    # Create selections for the march 2020 and march 2022 data
    START = "2020-03-31"
    END = "2022-03-31"
    sel_2020 = group_df["Date"] == START
    sel_2022 = group_df["Date"] == END
    
    # Get the data for each month
    v2020 = group_df.loc[sel_2020, "ZHVI"].squeeze()
    v2022 = group_df.loc[sel_2022, "ZHVI"].squeeze()

    return pd.Series({"ZHVI": 100 * (v2022 / v2020 - 1)})

In [27]:
in_result  = in_center_city_df.groupby("RegionName").apply(calculate_percent_increase)
out_result = out_center_city_df.groupby("RegionName").apply(calculate_percent_increase)

C:\Users\Lingx\AppData\Local\Temp\ipykernel_23704\3123392704.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  in_result  = in_center_city_df.groupby("RegionName").apply(calculate_percent_increase)
C:\Users\Lingx\AppData\Local\Temp\ipykernel_23704\3123392704.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  out_result = out_center_city_df.groupby("RegionName").apply(calculate_percent_increase)

In [28]:
print("Center City Appreciation:", in_result["ZHVI"].mean())
print("Non-Center Appreciation:", out_result["ZHVI"].mean())

Center City Appreciation: 6.075356250752161
Non-Center Appreciation: 18.072677120607693